<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.complettedmyspli">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".Post" />
        <activity android:name=".registrationwithvolley.VRegestraion" />
        <activity android:name=".justPost" />
        <activity android:name=".loadeImage.LooadImage" />
        <activity android:name=".loadeImage.getImage" />
        <activity android:name=".RecyclerPosts.RecyclerviewPost" />
        <activity android:name=".justpost2.justpost2" />
        <activity android:name=".UploadService.UploadService" />
        <activity android:name=".recyclerview2.RecyclerView2" />
        <activity android:name=".Dialoge.DailogeUbdatePost" />
        <activity android:name=".LogIn2.LogIn2" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ShowPosts" />
        <activity android:name=".Comments.Comments" />
        <activity android:name=".Retrofit.showPostRetrofit" />
        <activity android:name=".Likes.LikesDialoge"></activity>
    </application>

</manifest>